<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://paymentreminder.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0b6e0045-006e-4588-a36c-2af6f736fffa/resourcegroups/paymentreminder/providers/Microsoft.Web/sites/paymentreminder</ResourceId>
    <UserName>$paymentreminder</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://paymentreminder.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>